/*---Default---*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/*---------------------*/

#home, #page1, #page2, #page3, #footer {
    position: relative;
    width: 100%;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: left;
    align-content: center;
    overflow: hidden;
    bottom:0;
}

#page1, #page2, #page3 {
    background: #48ccde
}
#footer {
    background: #fff;
}

#kakao {
    position: fixed;
    z-index: 9999;
    width: 10%;
    height: auto;
    align-items: center;
    color: white;
    right: 5%;
    top : 7%;
    min-width: 80px;
    max-width: 100px;
    transform:translate(0,20%);
    display: flex;
}
#kakao a{
    width:100%;
    vertical-align: center;
}

#kakao a img{
    width:100%;
    height: auto;
}

#whiteButtons{
    position: absolute;
    right:5%;
    top:21%;
    width:20%;
    min-width: 150px;
    max-width: 190px;
    letter-spacing: 2%;
    transform:translate(0,5%);
    text-align: right;
    z-index: 300;
}

nav#scro {
    z-index: 100;
    position: fixed;
    bottom:20px;
    right: 3%;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
}

.toIgnoreScro {
    z-index:200;
    position:relative;
    width:100%;
    height:100%;
}

.logo {
    position: absolute;
    top : 10%;
    transform:translate(0,-10%);
    height: 17%;
    padding-left: 8%;
    max-height: 130px;
    min-height: 80px;
    width: auto;
}

.textContainer {
    position:absolute;
    color: #fff;
    left:5%;
    top:53%;
    height: 50%;
    transform:translate(0,-50%);
    text-align: left;
}

#home {
    background: #000000 url(../images/bg/background-desktop.png) no-repeat top center;
}
    .textContainer {
    position:absolute;
    color: #fff;
    left:5%;
    top:75%;
    height: 80%;
    transform:translate(0,-50%);
    text-align: left;
}
.box .textContainer h1{
    font-family: 'BM', sans-serif;
    font-size: 0.8em;
}
    .box .textContainer h3{
    font-family: 'YD', sans-serif;
    font-weight: bold;
    font-size: 0.517em;
}
    #whiteButtons img{
    display: inline-block;
    width:30%;
}

.box #home .textContainer {
    color:inherit;
    color:#333333;
}

.box #footer .textContainer {

    top:50%;
    height: 40%;
    transform:translate(0,-50%);
    color:inherit;
    color:#555555;
}

.box #footer .textContainer a{

    color:inherit;
    font-family: 'BM', sans-serif;
    font-size: 0.66em;
    text-decoration: none;
    color:#555555;
}

.box .textContainer img{
    width: 15%;
    padding-top: 3%;
    padding-bottom: 5%;
    max-width: : 90px;
    height:auto;
}

.box .textContainer h4{
    color:inherit;
    position: inherit;
    position: relative;
    font-family: 'YD', sans-serif;
    font-size: 0.49em;
    text-decoration: none;
    color:#555555;
}

.bgbg{
    background-size: cover !important;
    -webkit-background-size: cover !important;
}
.bg-m {
    z-index: 0;
    position: absolute;
    bottom: 0;
    right:0;
    width:50%;
    min-width: 700px;
    max-width: 1000px;

}

#page2 .bg-m{
    right:15%;
    bottom:20%;
    min-width: 200px;
    max-width: 300px;
    width:45%;
}

#page3 .bg-m{
    bottom:23%;
    right:15%;
    min-width: 200px;
    max-width: 400px;
    width:45%;
}
