/*---Default---*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/*---------------------*/

#home, #page1, #page2, #page3, #footer {
    position: relative;
    width: 100%;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: left;
    align-content: center;
    overflow: hidden;
}

#home {
    background: #000000 url(../images/bg/background.png) no-repeat top center;
}
#page1 {
    background: #000000 url(../images/bg/1.png) no-repeat top center;
}
#page2 {
    background: #000000 url(../images/bg/2.png) no-repeat top center;
}
#page3 {
    background: #000000 url(../images/bg/3.png) no-repeat top center;
}
#footer {
    background: #fff;
}

#kakao {
    position: fixed;
    z-index: 9999;
    width: 10%;
    height: auto;
    align-items: center;
    color: white;
    right: 5%;
    top : 7%;
    min-width: 80px;
    max-width: 100px;
    transform:translate(0,10%);
    display: flex;
}
#kakao a{
    width:100%;
    vertical-align: center;
}

#kakao a img{
    width:100%;
    height: auto;
}

#whiteButtons{
    position: absolute;
    right:5%;
    top:21%;
    width:20%;
    min-width: 150px;
    max-width: 230px;
    letter-spacing: 2%;
    transform:translate(0,-10%);
    text-align: center;
}

#whiteButtons img{
    display: inline-block;
    width:25%;
}


nav#scro {
    z-index: 9999;
    position: fixed;
    bottom:20px;
    right: 3%;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
}


.logo {
    position: absolute;
    top : 10%;
    transform:translate(0,-10%);
    height: 17%;
    padding-left: 8%;
    max-height: 130px;
    min-height: 80px;
    width: auto;
}

.tex {
    position: absolute;
    top:50%;
    transform:translate(0,-50%);
    height: 35%;
    padding-left: 5%;
    max-width: 400px;
    max-height: 260px;
    min-height: 120px;
    width: auto;
}
.textContainer {
    position:absolute;
    color: #fff;
    text-shadow: 0px 0px 15px black;
    left:5%;
    top:66.5%;
    height: 50%;
    transform:translate(0,-50%);
    text-align: left;
}

.box .textContainer h1{
    font-family: 'BM', sans-serif;
    font-size: 1.035em;
}

.box .textContainer h3{
    font-family: 'YD', sans-serif;
    font-weight: bold;
    font-size: 0.517em;
}

.box #home .textContainer {
    color:inherit;
    color:#333333;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
}

.box #footer .textContainer {

    top:50%;
    height: 40%;
    transform:translate(0,-50%);
    color:inherit;
    color:#555555;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
}

.box #footer .textContainer a{

    color:inherit;
    font-family: 'BM', sans-serif;
    font-size: 0.82em;
    text-decoration: none;
    color:#555555;
}

.box .textContainer img{
    width: 10%;
    padding-top: 3%;
    padding-bottom: 5%;
    max-width: : 90px;
    height:auto;
}

.box .textContainer h4{
    color:inherit;
    position: inherit;
    position: relative;
    font-family: 'YD', sans-serif;
    font-size: 0.6em;
    text-decoration: none;
    color:#555555;
}
