@media screen and (max-width: 1280px){

        .textContainer {
            left:20%;
            top:60%;
            height: 60%;
            transform:translate(0,-53%);
        }

        #kakao {
            right:20%
        }

        .logo {
            left:20%;
        }

        #whiteButtons{
            right:20%;
            transform:translate(-120px,-50%);
        }

        .box .textContainer h3{
            font-size: 0.37em;
        }
}


@media screen and (max-width: 780px){

    #kakao {
        right:6%;
        width:80px;
    }

    #whiteButtons img{
        display: none;
    }

    #home {
        background: #000000 url(../images/bg/background-mobile.png) no-repeat top center;
    }

    .logo {
        left: 10%;
    }

    .textContainer {
        left:10%;
        top:56%;
        height: 56%;
        transform:translate(0,-50%);
    }

    .box .textContainer h1{
        font-size: 0.8em;
    }

    .box .textContainer h3{
        font-size: 0.37em;
    }


    .box #footer .textContainer a{
        font-size: 0.52em;
    }

    .box .textContainer img{
        width: 12%;
    }

    .box .textContainer .button img{
        width: 35%;
    }

    .box .textContainer h4{
        font-size: 0.45em;
    }

    nav#scro {
        left:10%;
    }

    #home .bg-m {
        position: absolute;
        bottom: 0;
        width:60%;
        min-width: 500px;
        max-width: 700px;
    }
    #page1 .bg-m {
        position: absolute;
        bottom: 0;
        width:60%;
        min-width: 500px;
        max-width: 700px;
    }

    #page2 .bg-m {
        position: absolute;
        bottom: 60px;
        width:250px;
        min-width: 200px;
        max-width: 500px;
    }

    #page3 .bg-m{
        bottom:15%;
        transform: translate(-50%,0);
        min-width: 200px;
        max-width: 230px;
        width:40%;
    }

}
