/*좌측 롤링배너*/
#right_banner{
    position: fixed;
    top:0;
    left:1370px;
    width:800px;
    height: 100%;
}

#right_banner .rolling_banner{
    position: relative;
    float:left;
    width:400px;
}
#right_banner .rolling_banner img{vertical-align:top}

.sub_heading{
    position: relative;
    height:95px;
    width:830px;
    border-bottom:1px solid #000;
}
.sub_heading h2{
    margin-bottom:7px
}
.sub_heading .location{
    position: absolute;
    bottom:15px;
    right:0;
    font: 12px "NanumGothicBold";
    color:#97938e;
}

/*브랜드스토리*/
.intro{height:390px;}
.brand{height:580px}
.cibi{height:612px;}
.organization{height:578px}

.intro h3{ 
    margin-bottom:30px;
    height:75px;
}
.intro img{
    float:left;
    margin-right:15px;
}
.intro p{
    font: 16px/20px "NanumGothicBold";
    color:#3a3a3c;
    letter-spacing: -0.7px;
}
.intro p strong{color:#ff6519;}

.brand .txt_brand{ margin-left:45px}

.cibi h4{margin:50px 0 22px 58px;}
.cibi .slogan{
    width:720px;
    height:130px;
    background:url(../images/sub/bg_slogan.jpg) no-repeat 0 0;
    margin-left:58px;
}
.cibi .slogan img{margin: 15px 0 0 192px}
.cibi .bi{
    position: relative;
    width:720px;
    height:196px;
    background:url(../images/sub/bg_bi.jpg) no-repeat 0 0;
    margin-left:58px;
}
.cibi .bi .img_01{
    position: absolute;
    top:10px;
    left:105px;
}
.cibi .bi .img_02{
    position: absolute;
    top:38px;
    left:276px;
}
.organization img{
    margin-left:77px;
}

/*인테리어*/
.interior{
    position: relative;
    height: 200px;
    padding-left:300px;
}
.interior > img{
    position: absolute;
    top:0;
    left:0;
}
.interior p{
    font: 15px/1.5 "NanumGothicBold";
    color:#434343;
    letter-spacing: -0.7px;
    margin-top:15px;
}
.interior p strong{color:#ff6519;}

.interior2d{height:768px}
.interior2d h3, .vr h3{
    margin-bottom:23px
}

/*오시는길*/
.box_map{
    margin-top:30px;
    height:550px;
    background:#f8f4eb;
    padding:38px 42px 0 42px
}
.box_map h4{
    margin-top:25px;
    font:18px/2.0  "NanumGothicBold";
    color:#252525;
}
.box_map ul li{
    font:16px/1.5  "NanumGothicBold";
    color:#252525;
    background:url(../images/dot_orange.gif) no-repeat 0 50%;
    padding-left:15px
}


/*무아몽메뉴*/
.menulist ul{
    margin-top:30px;
    overflow: hidden
}
.menulist ul li{
    width:400px;
    height:260px;
    float:left;
    margin-bottom:50px;
}
.menulist ul li:nth-child(2n){
    margin-left:30px;
}
.menulist ul a{
  display: block;
  width:400px;
  height:225px;
  border-radius:10px;
  overflow:hidden;
  position: relative;
  z-index: 10;
  
}
.menulist p{
    font: 16px "NanumGothicBold";
    color:#3a3a3c;
    margin-top:18px;
    text-align:center;
    padding-left:10px;
    letter-spacing: -1px
    
}
.menulist p:before{
    position: relative;
    top:2px;
    left:-10px;
    content:" ";
    display: inline-block;
    width:15px;
    height:15px;
    background: url(../images/sub/dot-ring-orange.png) no-repeat 0 0
}

.menulist ul a img{
  transition:all 0.3s;
  overflow:hidden;
}

.menulist ul a:hover img{
  transform:scale(1.05)
}

.bisual_pizza{margin-top:55px;}

/*매장찾기*/
.search_store{
    position: relative;
    height:340px;
    margin-top:25px;
    border-top:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
}

.search_map{
    position: absolute;
    top:25px;
    left:68px;
}

.search_form_wrap{
    position: relative;
    width:420px;
    left: 345px;
    top:40px ;
}

.h4_search{
    font:16px/2.0 "NanumGothicBold";
    color:#ff6519;
}
.desc_search{
    font:16px/1.5 "NanumGothicBold";
    color:#3a3a3c;
    letter-spacing: -0.5px
}

.store_search_form fieldset{
    display: block;
    width:318px;
    height:78px;    
    padding:18px 50px;
    margin-top:18px;
    background: #f8f4eb;
}

.store_search_form  p{
    margin-bottom:9px;    
}
.store_search_form label{
    width:80px;
    height:20px;
    display: inline-block;
    font: 13px/20px "NanumGothicBold";
    color:#3a3a3c;
}

.store_search_form select{
    width:230px;
    height:20px;
    padding-left:5px;
    font-size:13px;
    border:1px solid #c4c4c3;
}

.store_search_form .p_submit{
    text-align: center
}

.store_search_form .btn_submit{
    width:185px;
    height:40px;
    background-color: #ff6519;
    margin-top:20px;
    color:#fff;
    font: 18px "NanumGothicBold";
    border:1px solid #ddd;
    border-radius:5px;    
    cursor: pointer;
}



/*오픈예정점*/
.store_list{
    width:100%;
}

.store_list li{
    height:108px;
    padding:20px 30px;
    border-top:1px solid #e0e0e0;
    overflow: hidden
}

.store_list li.last{
    border-bottom:1px solid #e0e0e0;
}

.store_list .thumb{
    width:182px;
    float:left;
}
.store_list .txt{
    float:left;
    margin:23px;
}

.store_tit{
    font: 16px "NanumGothicBold"; 
    margin-bottom:10px;
}
.store_adr,.store_tel{
    font: 14px/1.5 "NanumGothic"; 
    color:#252525;
}

.store_list .txt a:hover{
    text-decoration: underline;
}

/*공지사항*/
.notice .tbl{
    margin-top:22px;
}
.notice .tbl th{
    font-size:14px;
}

.notice .tbl td{
    font-size:13px;
}

.notice .tbl .title{
    text-align:left;
    padding-left:5px;
}  

.notice_search{
    float:right;
    margin-top:-20px;
}
.notice_search input[type="text"]{
    width:160px;
    height:28px;
    padding-left:5px;
    border:1px solid #3a3a3c;
    outline:0;
}

.notice_search .btn_search{
    position: relative;
    left:-6px;
    width:45px;
    height:32px;
    background: #3a3a3c;
    border:1px solid #3a3a3c;
    color:#fff;
    outline:0;
    cursor: pointer;
}

/*테이블*/
.tblType01{
    width:100%;
    border-top:2px solid #e0e0e0;
}

.tblType01 th{
    height: 40px;
    background: #ff6519;
    color:#fff;
    font: 16px "NanumGothicBold";
    border-left:2px solid #fff;
}

.tblType01 td{
    height:34px;
    font: 14px "NanumGothic";
    color:#000000;
    border-bottom:1px solid #e0e0e0;
}

.tblType01 th, .tbl td{    
    vertical-align:middle;
    text-align:center;
}

.tblType01  a:hover{
    text-decoration: underline;
} 



.tblType02{
    width:100%;
}

.tblType02 thead th{
    height: 40px;
    background: #ff6519;
    color:#fff; 
    font: 16px "NanumGothicBold";
}

.tblType02 tbody th{
    background: #efefef
 }

.tblType02 td{
    height:40px;
    font: 14px "NanumGothic";
    background:#f6f6f6;
    border-bottom:1px solid #e0e0e0;
}

.tblType02 tbody th,.tblType02 tbody td, .tblType02 tfoot td{
    color:#58585a;
    font: 14px/1.5 "NanumGothicBold";
}

.tblType02 th, .tblType02 td{    
    vertical-align:middle;
    text-align:center;
    border:2px solid #fff;
}
.tblType02 tfoot td{
    background: #e0e0e0
}



/*페이징*/
.paging{
    margin-top:25px;
    text-align: center;
}
.paging a{
    display: inline-block;
    padding:5px;
    color:#3c3c3c;
    font-size:14px;
}

.paging .btn_prev img, .paging .btn_next img{
    margin-bottom:1px;
}


/*창업안내*/
.success{height:515px;}
.success p{
    font: 16px "NanumGothicBold";
    color:#3a3a3c;
    letter-spacing: -0.5px
}
.success  .img_success{
    height: 300px;
    background:url(../images/sub/guide/img_success.png) no-repeat  0 0;
    text-indent: -9999em;
}

.procedure{
    font: 14px "NanumGothicBold";
    color:#3a3a3c;
}
.procedure .txt_step{
    font: 16px/22px "NanumGothicBold";
    color:#3a3a3c;
}
.procedure strong{color:#ff6519;}
.procedure .txt_step{margin-top:6px;}

.procedure .step01 .content{
    width:720px;
    height:250px;
    margin:45px 0 50px 55px;
    text-indent:-9999em;
    background:url(../images/sub/guide/img_step_01.png) no-repeat  0 0;
}

.procedure .step02 .content{
    width:612px;
    height:270px;
    margin:45px 0 50px 55px;
    padding:56px 58px;
    background:url(../images/sub/guide/img_step_02.png) no-repeat  0 0;;
}


.procedure .step02 .content span{color:#ff6519;}
.procedure .step02 .content li+li{margin-top:32px;}
.procedure .step02 .content ol{overflow: hidden}
.procedure .step02 .content ol li{
    float:left; 
    margin-top:5px;  
    padding-left:12px;
    background: url(../images/dot_orange.gif) no-repeat 0 50%
}
.procedure .step02 .content .ss01 ol li,
.procedure .step02 .content .ss04 ol li{width:27%;}
.procedure .step02 .content .ss02 ol li,
.procedure .step02 .content .ss03 ol li{width:45%;}


.procedure .step03 .content{
    width:720px;
    height:580px;
    margin:45px 0 50px 55px;
    text-indent: -999px;
    background:url(../images/sub/guide/img_step_03.png) no-repeat  0 0;;
}

.procedure .step04 .content{
    width:604px;
    height:175px;
    margin:45px 0 50px 55px;
    padding:70px 58px;
    background:url(../images/sub/guide/img_step_04.png) no-repeat  0 0;;
}

.procedure .step04 .content dt{
    color:#ff6519;
    margin-top:20px;
}
.procedure .step04 .content dt.first{margin-top:0;}
.procedure .step04 .content dd{
    margin-top:5px;
    padding-left:14px;
    background: url(../images/dot_orange.gif) no-repeat 0 9px;
    line-height: 18px
}

.procedure .step05 .content{
    width:557px;
    height:805px;
    margin:45px 80px 50px 55px;
    padding:55px 58px 0 105px;
    background:url(../images/sub/guide/img_step_05.png) no-repeat  0 0;
}
.procedure .step05 .content h6{
    font-size:16px;
    color:#ff6519;
    margin:23px 0 8px;
}
.procedure .step05 .content h6.first{
    margin-top:0;
}
.procedure .step05 .content li{
    padding-left:14px;
    background: url(../images/dot_orange.gif) no-repeat 0 9px;
    line-height: 22px
}
.procedure .step05 .content .has_sub li{
    background: none
}

.procedure .step05 .content .has_sub ul{
    margin-left:30px;
    margin-top:-22px;
}

.procedure .step06 .content{
    width:830px;
    height:570px;
    margin:45px 0 50px 0px;
    background:url(../images/sub/guide/img_step_06.png) no-repeat  0 0;
    text-indent: -9999em
}

.open_price .tbl{
    width:720px;
    margin:57px auto 0;
}

.open_price .info{
    width:720px;
    margin:10px auto 48px;
    padding-left:15px;
    font:12px/1.5 "NanumGothicBold";
    color:#7c766f;
}

.qna .content{
    width:655px;
    height:1480px;
    margin:50px auto 0;
    padding:65px 0 0 70px;
    background:url(../images/sub/guide/img_qna.png) no-repeat  0  0;
}
.qna .content li{
    margin-bottom:35px;
}
.qna .content h4{
    font:16px "NanumGothicBold";
    color:#ff6519;
    margin-bottom:9px;
}
.qna .content li p{
    font:14px/1.7 "NanumGothicBold";
    color:#3a3a3c;
    padding-left:14px;
    background:url(../images/dot_orange.gif) no-repeat 0 10px;
    letter-spacing: -1px
}



/*무한리필*/
#refill_area{
    position: relative;
    width:950px;
    float:left;
    z-index: 100;
    background:url(../images/bg_refill.png) 0 0 repeat;
}

.ask_box{
    width:910px;
    margin:45px 20px 30px  20px;
    background-color:#faf3e9;
}
.policy{
    width:850px;
    margin:0 auto;
    padding:50px 0 40px;
    border-bottom:2px solid #9b1e28;
}

.policy h3{
    font: 14px "NanumGothicBold";
    color:#757575;
    margin-bottom:20px;
}

.policy textarea{
    width:820px;
    height:195px;
    padding:15px;
    margin-bottom:20px;
    background: #f2efe8;
    font: 12px/1.5 "NanumGothicBold";
    color:#757575;
    border:1px solid #ddd;
}


.policy .check label{
    font: 12px/1.5 "NanumGothicBold";
    color:#757575;
}


.ask_form{
    width: 850px;
    margin: 0 auto;
    padding-bottom: 40px;
    border-bottom:1px solid #d7d7d7;
}

.ask_form p{
    border-top:1px solid #d7d7d7;
}

.ask_form label{
    font: 14px/1.5 "NanumGothicBold";
    color:#3c3c3c;
}

.ask_form .label{
    display: inline-block;
    width:155px;
    padding:15px 0;
    margin-right:15px;
    text-align: center;
    background: #f1eae0;
}

.ask_form input[type="text"]{
    height:30px;
    padding:0 5px;
    border:1px solid #d7d7d7;
    box-sizing: border-box;
    background: transparent;
}
.ask_form select{
    height:30px;
    border:1px solid #d7d7d7;
    background: transparent;
}
.ask_form input[type="radio"]{
    margin-left:20px;
    background: transparent;
}

.ask_form textarea{
    width:100%; 
    height:300px; 
    margin-top:20px;
    background:transparent; 
    border:1px solid #d7d7d7;
}

.btn_ask_submit{
    display: inline-block;
    width:300px;
    height:60px;
    margin-top:30px;
    background:url(../images/sub/btn_ask_submit.jpg) no-repeat 0 0;
    text-indent: -9999px;
    border:0;
    cursor: pointer
}